<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.OhsunDosun.mapper.SearchUserMapper">

    <select id="findUserByName" resultType="com.OhsunDosun.dto.SearchUserDTO">
        SELECT user_id AS userId, name
        FROM user
        WHERE name = #{name}
    </select>

</mapper>
