<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.OhsunDosun.mapper.UserAuthMapper">

    <!-- 비밀번호 일치 여부 확인  -->
    <select id="getPasswordByUserId" resultType="java.lang.Integer">
        SELECT account_password
        FROM account_list
        WHERE account_id=#{accountId};
    </select>
</mapper>