<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.OhsunDosun.member.mapper.MemberMapper">

    <resultMap id="memberResultMap" type="com.OhsunDosun.member.dto.Member">
        <id column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
    </resultMap>

    <select id="selectByName" resultMap="memberResultMap">
        SELECT user_id, username, password, name, age, gender, ssn
        FROM user u
        WHERE u.username = #{username}
    </select>

    <insert id="insertMember" parameterType="com.OhsunDosun.member.dto.Member">
        INSERT INTO user(name, username, password, age, gender, ssn)
        VALUES(#{name}, #{username}, #{password}, #{age}, #{gender},#{ssn})
    </insert>
</mapper>